@font-face {
    font-family: 'Commissioner';
    src: url('Commissioner-Medium.woff2') format('woff2'),
        url('Commissioner-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

